modules = ["web", "go-1.21", "bash", "nodejs-20"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[userenv]

[userenv.shared]
GYDS_CHAIN_ID = "13370"
GYDS_DATA_DIR = "./data"
GYDS_LOG_LEVEL = "info"
GYDS_NODE_MODE = "lite"
GYDS_P2P_PORT = "30305"
GYDS_RPC_HOST = "0.0.0.0"
GYDS_RPC_PORT = "5000"
GYDS_WS_PORT = "8546"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "GOTOOLCHAIN=local go run . start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 30305
externalPort = 80
